/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

/* sheard Styles */

.display-flex{
    display: flex;
}
.small-description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}
.primary-btn{
    padding: 15px 30px;
    background-color: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}
.primary-btn a{
    text-decoration: none;
    color: #ffffff;
}
section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}
img{
    width: 100%;
}

/* Navbar Styles */
.navbar,.hero-section,.hero-content{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
.nav-items ul{
    list-style: none;
    gap: 60px;
}
.nav-items a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
    color: #424242;
}
.nav-items a:hover{
    color: #FF900E;
}

/* Hero section styles */

.header{
    background-color:rgba(255, 144, 14, 0.1);
}
.hero-content{
    max-width: 862px;
    text-align: center;
    margin-top: 50px;
}
.hero-content h2{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}
.hero-content p{
    margin-top: 40px;
    margin-bottom: 35px;
}
.header img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Feature Section Styles */

.feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-container{
    align-items: center;
    gap: 70px;
}
.feature-content{
    max-width: 530px;
}
.feature-content h2{
    font-weight: 500;
    font-size: 2.8125rem;
    color: #727272;
}
.feature-content p{
    margin-top: 24px;
    margin-bottom: 32px;
}
#of-our{
    font-weight: 700;
    font-size: 2.8125rem;
    color: #131313; 
}
#highlight-text{
    font-weight: 700;
    font-size: 2.8125rem;
    color: #FF900E;
}

/* Feature2 Section Styles */

.feature2-conatiner{
    gap: 150px;
}
.feature2-content h2{
   border-left: 5px solid #FF900E;
   padding-left: 20px; 
}
.feature2-content >p{
    max-width: 586px;
    margin-top: 24px;
    margin-bottom: 30px;
}
.card-items{
    max-width: 586px;
}
.card-item{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 586px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.card-item h3{
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
    margin-bottom: 10px;
}
.feature2-banner button{
    padding: 45px 42px;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: -100px;
    border: none;
    background-color: #FF900E;
    color: #ffffff;
}
.feature2-banner h5{
    font-weight: 700;
    font-size: 4.0626rem;
}
.feature2-banner h6{
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 2.5rem ;
}
