/* Responsive For Small Devices */

@media screen and (max-width: 576px) {
    .display-flex{
        flex-direction: column;
    }
    section{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 15px;
    }
    .small-description{
        padding: 0 10px;
        text-align: justify;
    }
    .feature-images{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-content{
        text-align: center;
    }
    .feature2-banner button{
        display: block;
        margin: 20px auto;
    }
    .feature2-conatiner{
        gap: 50px;
    }
    .fact-card-items{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
}

/* Responsive For Medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    .display-flex{
        flex-direction: column;
    }
    section{
        margin-top: 70px;
        margin-bottom: 70px;
        padding: 20px;
    }
    .small-description{
        padding: 0 10px;
        text-align: justify;
    }
    .feature-content{
        text-align: center;
    }
    .feature2-banner button{
        display: block;
        margin: 20px auto;
    }
    .feature2-conatiner{
        gap: 50px;
    }
    .fact-card-items{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
}